{% extends "base.html" %}

{% block title %}{{ title|capitalize }}{% endblock %}

{% block body %}

    <h1 id="title">{{ title|capitalize }}</h1>
{% for article in articles %}
    <div style="border: 1px solid green; margin: 10px; padding: 10px;">
        <img src="{{ article.getImages().thumbnail.image }}" >
        <p style="font-weight: bold;">{{ article.getTitle() }}</p>
        <p>{{ article.getExcerpt() }}</p>
    </div>
{% endfor %}

{% endblock %}
