<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if errors is not empty %}
    <div style="margin: 10px; border: 1px solid red; padding: 10px;">
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    </div>
{% endif %}
    <nav>
        <a id="publication-" href="{{ siteUrl }}/">Home</a> |
        {% for publication in publications %}
        <a id="publication-{{ publication }}" href="{{ siteUrl }}/{{ publication }}">{{ publication|capitalize }}</a> |
        {% endfor %}
    </nav>

    {% block body %}
    {% endblock %}

    <div style="padding: 10px;">
        <p>Popular tags:</p>
        {% for slug in slugs %}
        <a id="tag-{{ slug }}" href="{{ siteUrl }}/tag/{{ slug }}">{{ slug|capitalize }}</a> |
        {% endfor %}
    </div>
</body>
</html>
